# Loading Experiment Data

In this notebook, we start by loading the data collected while running different experiment-wares (in this case, subgraph solvers), and perform some preprocessing on this data to allow its use for further analysis in dedicated notebooks.

## Imports

We first need to import the modules we need to load the data.
In particular, we must obviously import *Metrics-Wallet*, which we will use to deal with our data.

In [1]:
from itertools import product
from metrics.wallet import BasicAnalysis

## Reading the data

The next step is to read the data from the log files produced by our different experiment-wares.
This data is described in the file [`scalpel_config.yml`](config/scalpel_config.yml), and automatically parsed by *Metrics-Scalpel* to create a `BasicAnalysis` object.

In [2]:
analysis = BasicAnalysis(input_file='config/scalpel_config.yml', log_level='WARNING')

The `BasicAnalysis` object instantiated above provides elementary and general methods for preprocessing our data before actually analyzing the results (which will require more specific methods as it can be seen in the dedicated notebooks).

An important thing to do now is to visualize the collected data, to make sure that everything was properly read.
This can be achieved by looking at the data-frame that has been built inside the `BasicAnalysis` object.

In [3]:
analysis.data_frame

,input,experiment_ware,cpu_time,timeout,success,user_success,missing,consistent_xp,consistent_input,error
0,unknown input #1,LAD,0.001,1000.0,True,True,False,True,True,False
1,unknown input #1,VF2,0.001,1000.0,True,True,False,True,True,False
2,unknown input #1,RI,0.001,1000.0,True,True,False,True,True,False
3,unknown input #1,Glasgow,0.001,1000.0,True,True,False,True,True,False
4,unknown input #2,LAD,0.001,1000.0,True,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...
58479,unknown input #14620,Glasgow,0.132,1000.0,True,True,False,True,True,False
58480,unknown input #14621,LAD,0.004,1000.0,True,True,False,True,True,False
58481,unknown input #14621,VF2,1.706,1000.0,True,True,False,True,True,False
58482,unknown input #14621,RI,0.001,1000.0,True,True,False,True,True,False
58483,unknown input #14621,Glasgow,0.006,1000.0,True,True,False,True,True,False

## Summary and export of the analysis

We can now give a summary of the analysis, that we obtain through the following table.

In [4]:
analysis.description_table()

                                                                     analysis
n_experiment_wares                                                          4
n_inputs                                                                14621
n_experiments                                                           58484
n_missing_xp                                                                0
n_inconsistent_xp                                                           0
n_inconsistent_xp_due_to_input                                              0
more_info_about_variables       <analysis>.data_frame.describe(include='all')

Finally, the analysis is exported, both to share the data to allow the reproducibility of the analysis, and to reuse it in other notebooks dedicated to more specific analyses.

In [5]:
analysis.export('.cache')